# Configuración de la RPC de Abstract
ABSTRACT_RPC_URL=https://api.mainnet.abs.xyz

# Dirección del contrato que despliega tokens en Abstract
ABSTRACT_CONTRACT_DEPLOYER=0x0000000000000000000000000000000000008006

# Configuración de Telegram
# Reemplaza estos valores con los tuyos
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=